# Greek letters
snippet ,a
\alpha
endsnippet

snippet ,b
\beta
endsnippet

snippet ,d
\delta
endsnippet

snippet ,m
\mu
endsnippet

snippet ,n
\nu
endsnippet

snippet ,phi
\phi
endsnippet

snippet ,psi
\psi
endsnippet

snippet ,s
\sigma
endsnippet





