!! Transparency (0-1):
*.alpha: 0.9

!! Set a default font and font size as below:
! *.font: "JetBrainsMono Nerd Font:size=12"
! *.font: monospace:size=10

! *.normbgcolor: {color0}
! *.normbordercolor: {color1}
! *.normfgcolor: {color2}
*.selbgcolor: #000000
*.selbordercolor: #770000
! *.selfgcolor: {color5}

/* !! pywal: */
! *.color0:  {color0}
! *.color1:  {color1}
! *.color2:  {color2}
! *.color3:  {color3}
! *.color4:  {color4}
! *.color5:  {color5}
! *.color6:  {color6}
! *.color7:  {color7}
! *.color8:  {color8}
! *.color9:  {color9}
! *.color10: {color10}
! *.color11: {color11}
! *.color12: {color12}
! *.color13: {color13}
! *.color14: {color14}
! *.color15: {color15}
! *.color256: {background}
! *.color257: {foreground}


/* ! Dracula Xresources palette */
! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6

/* *.background: .color0 */
/* *.color256: 0#1d2021 */
/* *.color257: 15#ebdbb2 */


! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6

/* *.background: .color0 */
! *.color256: 0#1d2021
! *.color257: 15#ebdbb2

! --- nsxiv dark theme ---
Nsxiv.window.background:   #1e1e2e
Nsxiv.window.foreground:   #cdd6f4
Nsxiv.mark.foreground:     #f38ba8
Nsxiv.bar.background:      #181825
Nsxiv.bar.foreground:      #cdd6f4
Nsxiv.bar.font:            JetBrainsMono Nerd Font:size=10

! Nsxiv.window.background:   {color0}
! Nsxiv.window.foreground:   {color1}
! Nsxiv.mark.foreground:     {color2}
! Nsxiv.bar.background:      {color3}
! Nsxiv.bar.foreground:      {color4}
! Nsxiv.bar.font:            monospace:size=12
